.totals  {
  color: #ffffff;
  width: 100%;
  height: 144px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  padding-left: 25px;
  padding-right: 25px;

  //background: #ff931e;
  //background: linear-gradient(to right, #ff931e 0%,#f46523 100%);

  //background: #866ffe;
  //background: linear-gradient(to right, #866ffe 0%,#4641ff 100%);

  background-color: #1a293c;
  background: linear-gradient(to right, #1a293c 0%, #192637 100%);
  box-shadow: 3px 3px 3px 2px #1a293c;

  border-radius: 10px 10px 10px 10px;
  margin-top: 25px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .total-departure,
  .total-progress,
  .total-arrival,
  .total-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .total-amount {
    h3 {
      color: #22bb83;
      border: 2px solid #22bb83;
      border-radius: 5px;
      width: 110px;
      text-align: center;
    }
  }
}