@import '../../../node_modules/bootstrap/scss/bootstrap-grid';
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import '../search/search.styles';

.container {
  //width: 100%;
  //min-height: calc(100vh);
  ////background: url('/assets/images/back-01.png') repeat center;
  //background: url('../../../public/assets/images/back-01.png') repeat center;
  //background-size: cover;
}

.app-body {
  width: 100%;
  min-height: calc(100vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trips-component {
  background-color: #454076;
  border-radius: 0px 0px 10px 10px;
  height: 540px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;

  .trip {
    color: white;
    width: 95%;
    background-color: #2e2e4a;
    height: 144px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .trip-cost-duration {
      flex-grow: 1;
      width: 110px;

      display: flex;
      flex-direction: column;
      align-items: center;

      h5 {
        color: #22bb83;
        border: 2px solid #22bb83;
        border-radius: 5px;
        width: 110px;
        text-align: center;
      }
    }

    .trip-start,
    .trip-phase-complete {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .trip-progress {
      flex-grow: 3;
      hr {
        border: 5px dashed #ffffff;
      }
    }
  }
}

.total-component {
  color: #ffffff;
  width: 100%;
  height: 144px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  padding-left: 25px;
  padding-right: 25px;

  //background: #ff931e;
  //background: linear-gradient(to right, #ff931e 0%,#f46523 100%);

  //background: #866ffe;
  //background: linear-gradient(to right, #866ffe 0%,#4641ff 100%);

  background-color: #1a293c;
  background: linear-gradient(to right, #1a293c 0%, #192637 100%);
  box-shadow: 3px 3px 3px 2px #1a293c;

  border-radius: 10px 10px 10px 10px;
  margin-top: 25px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .total-departure,
  .total-progress,
  .total-arrival,
  .total-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .total-amount {
    h3 {
      color: #22bb83;
      border: 2px solid #22bb83;
      border-radius: 5px;
      width: 110px;
      text-align: center;
    }
  }
}

body {
  background-color: #101c2c;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
